body{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    background-image: url("assest/image.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    margin-top: 0px;
    padding: 0px;
    color: rgb(4, 1, 41);
    text-decoration-line: underline;
}
.box{
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    background-image:linear-gradient(to right, rgb(66, 137, 165), rgb(235, 240, 245));
    box-shadow: 2px 14px 18px 3px black;
}
.box input{
    margin-top: 10px;
    border: 1px solid rgb(13, 1, 56);
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
}
.box label{
    color: rgb(28, 1, 39);
    font-weight: bold;
    font-size: 20px;
}
.box button{
    border: none;
    background-color:rgb(13, 1, 56);
    border-radius: 8px;
    margin-top: 20px;
    color: white;
    padding: 8px 25px ;
    font-weight: bold;
}
.box button:hover{
    background-color: rgb(52, 13, 126);
    
}

#result{
    color: rgb(3, 65, 73);
    font-weight: bold;
    font-size: 20px;
}